include README.md
include CHANGELOG.md
include LICENSE
recursive-include open_mythos *.py
recursive-include docs *.md
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
